<!DOCTYPE html>
<html>
    <head>
        <title>{{cleantitle}}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="keywords" content=""/>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/css/w3.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
            .labels{
                font-weight: bold;
            }
            .col{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            pre {
                white-space: pre-wrap;       /* Since CSS 2.1 */
                white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                white-space: -pre-wrap;      /* Opera 4-6 */
                white-space: -o-pre-wrap;    /* Opera 7 */
                word-wrap: break-word;       /* Internet Explorer 5.5+ */
            }

            table {
              table-layout: fixed;
              /*overflow-x: scroll;*/
              display: block;
            }
            td, th {
              vertical-align: top;
              padding-left: 10px;
              padding-right: 10px;
            }
            .fix {
              position: absolute;
              *position: relative; /*ie7*/
              text-align:center;
            }
            .outer {
              position: relative;
            }
            .inner {
              overflow-x: auto;
              display: inline-block;
            }

            tbody > tr:hover{
                background: #eee;
                cursor: default !important;
            }

            .file-item{
                cursor: pointer;
                list-style: none;
                padding-left: 15px;
            }
            .file-item:hover{
                /*background: #eee;*/
                color: teal;
                font-weight: 600;
            }
        </style>

        <script src="/static/src/jquery.min.js"></script>
        <script src="/static/src/chartjs-2-8.js"></script>
        <!--<script src="/static/src/update.js"></script> -->
        <script src="/static/src/testmgr.js"></script>
        <script src="/static/src/runner.js"></script>
        <script src="/static/src/format.js"></script>
        <script src="/static/src/format_style.js"></script>
        <script src="/static/src/format_styles/table.js"></script>
        <script src="/static/src/format_styles/scatter.js"></script>

    </head>

    <body>

        <!-- Navbar (sit on top) -->
        <div class="w3-top" style='z-index:9999'>
            <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                <a href="/" class="w3-bar-item w3-button">{{title|safe}}</a>
                <div class="w3-right">
                    <button id="warning-btn" style="display: none; color: orange" class="w3-bar-item w3-button"><b><span id="warning-count"></span> warning(s)</b></button>
                    <!--<button id="update-btn" style="display: none; color: red" class="w3-bar-item w3-button"><b>Update</b></button>-->
                    <!--<span id="update-err" style="display: none; color: red" class="w3-bar-item"></span>-->
                </div>
            </div>
        </div>

        <div class="w3-container" style="margin-top: 80px">

            <h3>What to do?</h3>

            <div id="action-node" class="w3-row w3-container">
            </div>

            <div class="w3-row" id="progress-node"></div>

            <div class="w3-margin-top w3-bar w3-grey w3-text-white">
              <button class="w3-bar-item w3-button tabsel" style="font-weight: bold; background: #444" target="Result" >Result</button>
              <button class="w3-bar-item w3-button tabsel" target="Console">Console</button>
              {% if exportedFiles == True %}
                <button id="exported-file-open" class="w3-bar-item w3-button tabsel" target="Files">Exported files</button>
              {% endif %}
            </div>

            <div id="Console" class="node" style="display: none">
                <h3>Console:</h3>

                <div id="console-container" class="w3-row w3-container">
                    <pre id="console-msg" style="height:500px; overflow-y: auto; background: #000; color: #fff; resize: vertical">
                    </pre>
                </div>
            </div>

            <div id="Files" class="node" style="display: none">
                <h3>Files:</h3>
                <div class="w3-margin-bottom">
                    <div class="w3-row w3-container">
                        <div class="w3-col l12 m12 s12">
                            <input class="w3-input w3-border" type="text" id="filename-filter" placeholder="Filter by name..." name="filename">
                        </div>
                    </div>
                </div>

                <div id="filelist-container" class="w3-row w3-container">
                    <div class="w3-row">
                        <div id="files-error"></div>
                    </div>
                    <ul id="exported-list" style="columns: 3; -webkit-columns: 3; -moz-columns: 3; margin: 0; padding: 0">
                    </ul>
                </div>
            </div>

            <div id="Result" class="node">
                <div id="response-node" class="w3-row w3-container w3-margin-top"></div>
            </div>

        </div>

        <!-- The Modal -->
        <div id="param-modal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
                <h4>User input</h4>

                <form id="param-modal-form">
                    <div id="param-div" class="w3-col l12 w3-container w3-margin-bottom">
                        <div id='param-doc' class="w3-container w3-margin-bottom"></div>
                        <label><b id='param-label'></b></label>
                        <input id="param-value" type="text" class="w3-input w3-border-bottom"/>
                    </div>
                    <div class="w3-margin w3-container">
                        <button class="w3-button w3-border"><b>Send</b></button>
                    </div>
                </form>

            </div>
          </div>
        </div>

        <div id="yesno-modal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
                <h4>User input</h4>

                <div id="yesno-modal-form">
                    <div id="yesno-div" class="w3-col l12 w3-container w3-margin-bottom">
                        <div id='yesno-doc' class="w3-container w3-margin-bottom"></div>
                        <label><b id='yesno-label'></b></label>
                    </div>
                    <div class="w3-margin w3-container" style="text-align: center">
                        <button id='yesno-modal-yesbtn' class="w3-button w3-border"><b>Yes</b></button>
                        <button id='yesno-modal-nobtn' class="w3-button w3-border"><b style="color: red">No</b></button>
                    </div>
                </div>

            </div>
          </div>
        </div>

        <!-- The Modal -->
        <div id="meas-disp-modal" class="w3-modal">
          <div class="w3-modal-content">
            <div class="w3-container w3-padding">
                <span onclick="document.getElementById('meas-disp-modal').style.display='none'"  class="w3-button w3-display-topright">&times;</span>
                <div id="meas-disp-node">
                </div>
            </div>
          </div>
        </div>

        <script>


$( document ).ready(function() {

    $('#exported-file-open').click(function(){
        $('#files-error').html('');

        fetch('/files', {
            method: 'GET',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' }
        })

        .then( (response) => {
            if(!response.ok){
                console.log('<b>Server error:</b> HTTP '+response.status);
                return null;
            }
            return response.json()
        })

        .then( (data) => {
            if(data['status'] < 0){
                $('#files-error').html('<div class="w3-red w3-container w3-card" style=""><b>Error:</b> '+data['msg']+'</div>');
            }else{
                $('#exported-list').html('');
                $.each(data['files'], function(key, value){
                    $('#exported-list').append('<li class="file-item"><a href="/file/'+value+'" target="_blank" style="font-variant: small-caps; text-decoration: none;">'+value+'</a></li>');
                });
            }
        });
    });

    var runner = new testRunner('progress-node');
    var wid = 0;

    var tests = new testmgr('action-node', function(pkg, fn, params){
        console.log('RUN '+pkg+'.'+fn);
        console.log(params);

        $('#response-node').hide();

        runner.run(pkg, fn, params, function(sts){
            if(sts > 0){
                tests.disableRun();
            }
        });
    });

    $('#warning-btn').click(function(){
        $('#action-warning-modal').show(200);
    });

    tests.update();

    /*
    var updt = new update('update-btn', function(){
        tests.update();
    });
    */

    //Tab selection
    $('.tabsel').click(function(){
        target = $(this).attr('target');
        $('.tabsel').css('background','none');
        $('.tabsel').css('font-weight','normal');
        $(this).css('background','#444');
        $(this).css('font-weight','bold');
        $('.node').hide();
        $('#'+target).show();
    });

    //Get status
    function get_status(){
        fetch('/status', {
            method: 'GET',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' }
        })

        .then( (response) => {
            if(!response.ok){
                console.log('<b>Server error:</b> HTTP '+response.status);
                return null;
            }
            return response.json()
        })

        .then( (data) => {
            if(data['status'] == -2){
                //nothing to do ..
            }else if(data['status'] > 0){
                tests.disableRun();
                runner.set_percent(data['p'], data['name']);
                window.setTimeout(get_status, 100);
            }else{

                tests.enableRun();
                runner.set_percent(data['p'], data['name']);

                if(wid == data['wid']){  //Display only once
                    return;
                }

                wid = data['wid'];

                $('#'+'progress-node').hide();

                console.log(data);

                if(data['status'] == -1){
                    $('#response-node').html('<div style="text-align: justify" class="w3-red w3-container w3-card"><p><b>Stopped:</b> '+data['error']+'</p><pre style="margin-top:16px"><code>'+data['traceback']+'</pre></code></div>');
                    $('#response-node').slideDown(200);

                    return;
                }

                if(data['type'] == 1){
                    $('#response-node').html(''+
                        '<div class="w3-row w3-container">'+
                        '    <h3>'+data['name']+'</h3>'+
                        '    <p>'+data['doc']+'</p>'+
                        '    <h3>Returned data:</h3>'+
                        '    <pre id="action-reply" class="w3-border w3-row w3-container">'+JSON.stringify(data['ret'], null, 2)+'</pre>'+
                        '</div>');
                    $('#response-node').slideDown(200);
                }else{
                    $('#response-node').format_test(data);

                    if(data['db']['status'] != 0){
                        $('#response-node').prepend('<div style="text-align: justify" class="w3-red w3-container w3-card"><p><b>Server error:</b> '+data['db']['error']+'</p><pre style="margin-top:16px"><code style="background-color: rgba(0,0,0,0);">'+data['db']['traceback']+'</pre></code></div>');
                    }

                    $('#response-node').slideDown(200);
                }

            }
        })
    };

    window.setInterval(function(){
        get_status();
    }, 500);
    get_status();

    //Get stdout
    var last_stdout = 0;

    function get_console(){
        fetch('/stdout', {
            method: 'GET',
            credentials: 'include'
        })
        .then( (response) => {
            if(!response.ok){
                return null;
            }
            return response.json()
        })
        .then( (json) => {
            if(json['data']['time'] != last_stdout){
                $('#console-msg').html(json['data']['msg']);
                $('#console-msg').animate({scrollTop: $('#console-msg').prop("scrollHeight")}, 0);
                last_stdout = json['data']['time'];
            }
        })
    }

    window.setInterval(function(){
        get_console();
    }, 500);
    get_console();

    //Get stdin
    function get_stdin(){
        fetch('/stdin', {
            method: 'GET',
            credentials: 'include'
        })
        .then( (response) => {
            if(!response.ok){
                return null;
            }
            return response.json()
        })
        .then( (json) => {
            var c = $('#console-msg').html();

            if(json['status'] != 0){
                $('#param-modal').hide();
                $('#yesno-modal').hide();
                return;
            }

            if(json['status'] == 0 && json['type'] == 0){
                $('#param-doc').html(json['doc']);
                $('#param-label').html(json['name']);
                $('#param-modal').show(100, function(){
                    $('#param-value').focus();
                });
                $("#param-modal-form :input").removeAttr("disabled");
            }

            if(json['status'] == 0 && json['type'] == 1){
                $('#yesno-doc').html(json['doc']);
                $('#yesno-label').html(json['name']);
                $('#yesno-modal').show(100);
                $("#yesno-modal-yesbtn").removeAttr("disabled");
                $("#yesno-modal-nobtn").removeAttr("disabled");
            }

        })
    }

    $('#param-modal-form').submit(function(){
        var param_val = $('#param-value').val();
        $('#param-value').val('');

        $("#param-modal-form :input").attr("disabled", true);

        fetch('/stdin', {
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                stdin: param_val
            }),
        })

        .then( (response) => {
            return; //Nothing to do
        })

        return false;
    });

    $('#yesno-modal-yesbtn').click(function(){
        $("#yesno-modal-yesbtn").attr("disabled", true);
        $("#yesno-modal-nobtn").attr("disabled", true);

        fetch('/stdin', {
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                stdin: 'y'
            }),
        })

        .then( (response) => {
            return; //Nothing to do
        })

        return false;
    });

    $('#yesno-modal-nobtn').click(function(){
        $("#yesno-modal-yesbtn").attr("disabled", true);
        $("#yesno-modal-nobtn").attr("disabled", true);

        fetch('/stdin', {
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                stdin: 'n'
            }),
        })

        .then( (response) => {
            return; //Nothing to do
        })

        return false;
    });

    window.setInterval(function(){
        get_stdin();
    }, 500);
    get_stdin();

});

        </script>
    </body>
</html>